<%= javascript_include_tag("registration") %>

<section class="vh-60">
  <div class="container mt-4 mb-4">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="field">
                    <%= f.label :name, class: "form-label" %><br />
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                  </div>

                  <div class="field">
                    <%= f.label :email, class: "form-label" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>

                  <div class="field">
                    <%= f.label :password, class: "form-label" %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation, class: "form-label" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :select_role, class: "form-label" %>
                    <%= f.select :role, ['Student', 'HR'], data: { id:"role"}, class: "form-control status-select" %>
                  </div>

                  <div class="form-group" id="companyNameField">
                    <%= f.label :company_name, class: "form-label" %>
                    <%= f.text_field :company_name, data: { id:  "companyName"}, class: "form-control" %>
                  </div>

                  <div class="form-group" id="collegeNameField" style="display: none;">
                    <%= f.label :college_name, class: "form-label" %>
                    <%= f.text_field :college_name, data: { id:  "collegeName"}, class: "form-control" %>
                  </div>

                  <div class="form-group" id="courseYearField" style="display: none;">
                    <%= f.label :course_year, class: "form-label" %>
                    <%= f.select :course_year, ['1st year', '2nd year', '3rd year', '4th year'], { prompt: 'Select Status' },data: { id: "courseYear"}, class: "form-control status-select" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
