<%= form_with(model: test, local: true, url: test.new_record? ? user_test_index_path : user_test_path(test)) do |form| %>
  
  <%= render "shared/errors", object: test %>

  <%if !current_user.papers.present?%>
      <div class="bg-info text-dark">Please Create Papers First</div>
  <% end %>
  
  <div class="form-outline mb-4">
    <%= form.label :name, 'Test Name', class: "form-label"  %>
    <%= form.text_field :name,class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :details, 'Details',class: "form-label"  %>
    <%= form.text_area :details ,class: "form-control"%>
  </div>


  <div class="form-outline mb-4">
    <%= form.label :paper_ids, 'Select Papers',class: "form-label"  %>
    <ul class="list-unstyled">
    <%= form.collection_check_boxes :paper_ids, Paper.where(user_id: current_user.id), :id, :name do |b|%>
      <li>
        <%= b.check_box %> <%= b.label %>
      </li>
    <%end%>
    </ul>
  </div>

  <div class="actions">
    <%= form.submit 'Create Test', class:"btn btn-primary btn-block" %>
  </div>
<% end %>
